html {
  height: 100%;
}

body {
  width: 100%;
  background: linear-gradient(to left top, blue, red);
  /* The image used */
  background-image: url(./assets/daniel-leone-v7daTKlZzaw-unsplash.jpg);
}